<!DOCTYPE html>
<html>
    <meta charset = "UTF-8">
    <meta name = 'viewport' content = 'width=device-width, initial - scale = 1.0'>
    <title>Calories Burnt Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <body>
        <div class="container">
            <h1>Calories Burnt Prediction</h1>
            <form action="/predict" method="post">
                <label for="gender">Gender:</label>
                <select id='gender' name='gender' required>
                    <option value='Male'>Male</option>
                    <option value='Female'>Female</option>
                </select><br>

                <label for="age">Age:</label>
                <input type="number" id="age" name="age" placeholder="Enter the Age" required><br>

                <label for="height">Height:</label>
                <input type="number" id="height" name="height" step="0.001" placeholder="Enter the Height (in cm)" required><br>

                <label for="weight">Weight:</label>
                <input type="number" id="weight" name="weight" step="0.001" placeholder="Enter the Weight (in kg)" required><br>

                <label for="duration">Duration:</label>
                <input type="number" id="duration" name="duration" step="0.001" placeholder="Enter the Duration (in hours)" required><br>

                <label for="heart_rate">Heart Rate:</label>
                <input type="number" id="heart_rate" name="heart_rate" step="0.001" placeholder="Enter the Heart Rate (in bpm)" required><br>

                <label for="body_temp">Body Temperature:</label>
                <input type="number" id="body_temp" name="body_temp" step="0.001" placeholder="Enter the Body Temperature (in Celcius)" required><br>

                <input type="submit" value="Predict Calories Burned">
            </form>
            {% if prediction_text %}
            <div class="output">
                <h2>{{ prediction_text }}</h2>
            </div>
            {% endif %}
        </div>
    </body>
</html>